USE [master]
GO
/****** Object:  Database [QL_SVCSDL]    Script Date: 5/9/2022 4:38:10 PM ******/
CREATE DATABASE [QL_SVCSDL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_SVCSDL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_SVCSDL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_SVCSDL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_SVCSDL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_SVCSDL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_SVCSDL]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/9/2022 4:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[GVCN] [nvarchar](30) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 5/9/2022 4:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [varchar](7) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [bit] NULL,
	[QUEQUAN] [nvarchar](100) NULL,
	[MALOP] [varchar](10) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [GVCN]) VALUES (N'm001', N'cao đẳng k13 CNOTO', N'Thái cực sơn')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [GVCN]) VALUES (N'm002', N'cao đẳng k14 QTNH', N'Lê thị hái')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [GVCN]) VALUES (N'm003', N'cao đẳng k15 CNTT', N'Đường Quốc Lệ')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [GIOITINH], [QUEQUAN], [MALOP]) VALUES (N'c07-316', N'Nguyen Thanh Long', CAST(N'2022-05-09' AS Date), 1, N'quy Nhon', N'm001')
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [GIOITINH], [QUEQUAN], [MALOP]) VALUES (N'C07-532', N'Lý Xuân Nhật', CAST(N'2002-01-14' AS Date), 1, N'phù cát, phù mỏ , bình định', N'm001')
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [GIOITINH], [QUEQUAN], [MALOP]) VALUES (N'C07-555', N'hồ xuân bách', CAST(N'2001-02-23' AS Date), 1, N'an nhơn, bình định', N'm001')
GO
/****** Object:  StoredProcedure [dbo].[AddStuden]    Script Date: 5/9/2022 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[AddStuden](@masv varchar(7),@hoten nvarchar(50),@ngaysinh date,@gioitinh bit,@quequan nvarchar(100),@malop varchar(10))
as insert into SINHVIEN values (@masv,@hoten,@ngaysinh,@gioitinh,@quequan,@malop)
GO
/****** Object:  StoredProcedure [dbo].[GetNameByclass]    Script Date: 5/9/2022 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetNameByclass](@malop nvarchar(max))
as
SELECT HOTEN FROM 
SINHVIEN 
INNER JOIN  LOP ON  SINHVIEN.MALOP =LOP.MALOP
where lop.MALOP = @malop
GO
/****** Object:  StoredProcedure [dbo].[GridByName]    Script Date: 5/9/2022 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GridByName](@tenlop nvarchar(max))
as
select SINHVIEN.MASV,SINHVIEN.HOTEN,SINHVIEN.NGAYSINH, gioitinh =
 Case when SINHVIEN.GIOITINH = 1 then 'Nam' when SINHVIEN.GIOITINH  = 0 then N'Nữ' else 'Other'  end
,SINHVIEN.QUEQUAN
from SINHVIEN
inner join LOP on SINHVIEN.MALOP = lop.MALOP
where lop.TENLOP = @tenlop
GO
USE [master]
GO
